.home_container {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexitems1 {
  height: 100%;
  width: 40%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexItemCard {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexitems2 {
  height: 100%;
  width: 40%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chartsdiv {
  width: 80%;
  height: 45%;
  margin: 0.8rem;
}

.livetweetboard {
  width: 80%;
  height: 80%;
  overflow-y: auto;
}

.count {
  margin: 0px;
  padding: 0px;
}

.sub_text {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.home_text_content {
  display: inline-block;
  padding: 8px;
  width: 50%;
  height: 100%;
}

.hr_liner {
  margin-bottom: 1.5rem;
  width: 100%;
}

@media only screen and (max-width: 903px) {
  .home_container {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexItemCard {
    width: 100%;
    flex-direction: row;
  }
  .flexitems2 {
    height: 520px;
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flexitems1 {
    height: 600px;
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .chartsdiv {
    width: 60%;
    height: 50%;
    margin: 0.8rem;
  }
  .livetweetboard {
    width: 95%;
    height: 500px;
  }
}
